.iconParent{
    display: grid; 
    justify-content: center;
    align-items: center;
}
.SkillTitle{
    color: #99204A;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    text-align: center;
}
.Logos{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10rem;
}
.ParentContainer{
    display: grid;
    grid-template-columns: 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem;
    grid-template-rows: 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem;
    justify-content: center;
    align-items: center;
    column-gap: 0.2rem;
    row-gap: 0.2rem;
    grid-row: 2 / 2;
    grid-column: 5 / 6;
}
.IconContainer0{
    width: 3rem;
    height: 3rem;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    background-color: white;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: #B52155;
}

.language0{
    font-family: "Poppins", sans-serif;
    width: 7rem;
    text-align: center;
    grid-row: 2 / 2;
    grid-column: 3 / 8;
    font-size: 0.7rem;
    background-color: #B3849D;
    border-radius: 10rem;
    color: white;
}

.IconContainer1{
    width: 3rem;
    height: 3rem;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    background-color: white;
    grid-row: 4 / 5;
    grid-column: 8 / 9;
    background-color: #CF557F;
}

.language1{
    font-family: "Poppins", sans-serif;
    width: 7rem;
    text-align: center;
    grid-row: 4 / 5;
    grid-column: 4 / 6;
    margin-left: -0.5rem;
    font-size: 0.7rem;
    background-color: #B3849D;
    border-radius: 10rem;
    color: white;
}
.IconContainer2{
    width: 3rem;
    height: 3rem;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    background-color: white;
    grid-row: 4 / 9;
    grid-column: 1 / 3;
    background-color: #B52155;
}

.language2{
    font-family: "Poppins", sans-serif;
    width: 7rem;
    text-align: center;
    grid-row: 6 / 7;
    grid-column: 3 / 8;
    font-size: 0.7rem;
    background-color: #B3849D;
    border-radius: 10rem;
    color: white;
}
.IconContainer3{
    width: 3rem;
    height: 3rem;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    background-color: white;
    grid-row: 7 / 10;
    grid-column: 8 / 9;
    background-color: #B52155;
}

.language3{
    font-family: "Poppins", sans-serif;
    width: 7rem;
    text-align: center;
    grid-row: 7 / 10;
    grid-column: 4 / 8;
    font-size: 0.7rem;
    background-color: #B3849D;
    border-radius: 10rem;
    margin-left: -0.5rem;
    color: white;
}
.IconContainer4{
    width: 3rem;
    height: 3rem;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    background-color: white;
    grid-row: 5 / 16;
    grid-column: 1 / 9;
    background-color: #B52155;
}

.language4{
    font-family: "Poppins", sans-serif;
    width: 7rem;
    text-align: center;
    grid-row: 7 / 14;
    grid-column: 3 / 8;
    font-size: 0.7rem;
    background-color: #B3849D;
    border-radius: 10rem;
    color: white;
}
.IconContainer5{
    width: 3rem;
    height: 3rem;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    background-color: white;
    grid-row: 7 / 18;
    grid-column: 8 / 9;
    background-color: #B52155;
}

.language5{
    font-family: "Poppins", sans-serif;
    width: 7rem;
    text-align: center;
    grid-row: 8 / 17;
    grid-column: 4 / 8;
    margin-left: -0.5rem;
    font-size: 0.7rem;
    background-color: #B3849D;
    border-radius: 10rem;
    color: white;
}
.IconContainer6{
    width: 3rem;
    height: 3rem;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    background-color: white;
    grid-row: 9 / 20;
    grid-column: 1 / 9;
    background-color: #B52155;
}

.language6{
    font-family: "Poppins", sans-serif;
    width: 7rem;
    text-align: center;
    grid-row: 9 / 20;
    grid-column: 3 / 8;
    font-size: 0.7rem;
    background-color: #B3849D;
    border-radius: 10rem;
    color: white;
}
.IconContainer7{
    width: 3rem;
    height: 3rem;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    background-color: white;
    grid-row: 13 / 20;
    grid-column: 8 / 9;
    background-color: #B52155;
}
.language7{
    font-family: "Poppins", sans-serif;
    width: 7rem;
    text-align: center;
    grid-row: 13 / 20;
    grid-column: 4 / 8;
    font-size: 0.7rem;
    background-color: #B3849D;
    border-radius: 10rem;
    color: white;
    margin-left: -0.5rem;
}
.IconContainer8{
    width: 3rem;
    height: 3rem;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    background-color: white;
    grid-row: 17 / 20;
    grid-column: 1 / 9;
    background-color: #B52155;
}
.language8{
    font-family: "Poppins", sans-serif;
    width: 7rem;
    text-align: center;
    grid-row: 17 / 20;
    grid-column: 3 / 8;
    font-size: 0.7rem;
    background-color: #B3849D;
    border-radius: 10rem;
    color: white;
}
@media (min-width: 425px) {
    .ParentContainer {
        grid-template-columns: 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem;
        grid-template-rows: 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem;
        padding-right:0.5rem;
    }
    .Logos{
        width: 3rem;
        height: 3rem;
    }
    .language0, .language1, .language2, .language3, .language4, .language5, .language6, .language7, .language8{
        font-size: 0.8rem;
    }
    .language0, .language2, .language4, .language6, .language8{
        grid-column: 3 / 10;
        margin-left: 0.5rem;
    }
    .language1, .language3, .language5, .language7{
        grid-column: 6 / 10;
    }
    .IconContainer0, .IconContainer1, .IconContainer2, .IconContainer3, .IconContainer4, .IconContainer5, .IconContainer6, .IconContainer7, .IconContainer8{
        width: 3.5rem;
        height: 3.5rem;
    }
   
    .IconContainer1{
        grid-column: 10 / 10;
    }
    
    .IconContainer2{
        grid-column: 1 / 3;
    }
    .IconContainer3{
        grid-column: 10 / 10;
    }
    .IconContainer4{
        grid-column: 1 / 3;
    }
    .IconContainer5{
        grid-column: 10 / 10;
    }
    .IconContainer6{
        grid-column: 1 / 3;
    }
    .IconContainer7{
        grid-column: 10 / 10;
    }
    .IconContainer8{
        grid-column: 1 / 3;
    }
}

@media (min-width: 768px) {
    .ParentContainer {
        grid-template-columns:  1.7rem 1.7rem 1.7rem 1.7rem 1.7rem 1.7rem 1.7rem 1.7rem 1.7rem 1.7rem 1.7rem;
        grid-template-rows: 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem;
        padding-right:0.5rem;
        column-gap: 0.1rem;
    }
    .language0, .language1, .language2, .language3, .language4, .language5, .language6, .language7, .language8{
        font-size: 1rem;
        width: 8rem;
    }
    .language1, .language3, .language5, .language7{
        margin-left: -1.3rem;
    }
    .language0, .language2, .language4, .language6, .language8{
        grid-column: 3 / 10;
        margin-left: 0.5rem;
    }
   
    
}
@media (min-width: 1024px) {
    .ParentContainer {
        grid-template-columns: 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem;
        grid-template-rows: 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem;
        column-gap: 0.4rem;
    }
    .SkillTitle{
        font-size: 2rem;
    }
    .IconContainer0{
        grid-column: 2 / 3;
    }
    .language0, .language1, .language2, .language3, .language4, .language5, .language6, .language7, .language8{
        font-size: 1.2rem;
        width: 15rem;
    }
    .IconContainer0, .IconContainer1, .IconContainer2, .IconContainer3, .IconContainer4, .IconContainer5, .IconContainer6, .IconContainer7, .IconContainer8{
        width: 4.5rem;
        height: 4.5rem;
    }
    .IconContainer0, .IconContainer2, .IconContainer4, .IconContainer6, .IconContainer8{
        grid-column: 3 / 10;
    }
    .IconContainer1, .IconContainer3, .IconContainer5, .IconContainer7{
        grid-column: 17 / 19;
    }
    .language0, .language2, .language4, .language6, .language8{
        grid-column: 5 / 10;
    }  
    .language1, .language3, .language5, .language7{
        grid-column: 11 / 19;
    }
}
@media (min-width: 1440px) {
    .ParentContainer{
        grid-template-columns: 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem;
        grid-template-rows: repeat(22, 2.5rem);
    }
    .Logos{
        width: 4.5rem;
        height: 4.5rem;
    }
    .language0, .language1, .language2, .language3, .language4, .language5, .language6, .language7, .language8, .language9{
        font-size: 1.5rem;
        width: 16rem;
    }
    .IconContainer0, .IconContainer1, .IconContainer2, .IconContainer3, .IconContainer4, .IconContainer5, .IconContainer6, .IconContainer7, .IconContainer8{
        width: 5.5rem;
        height: 5.5rem;
    }
    .language1, .language3, .language5, .language7{
        grid-column: 12 / 20;
        margin-left: -2.3rem;
    }
    
}
